html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom = footer height */
}

.clear{
	clear:both;
}

#logo-header{
	width: 192px;
	padding: 1.4em 20px;
	
}

#logout{
	float: right;
	position: relative;
	right: 80px;
	top: 30px;
}

header{
	border-bottom: 2px solid black;
}

.container{
	padding: 20px;
}

footer{
	border-top: 2px solid black;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align:center;
}

.preview-markdown{
	border-style: solid;
	border-width: 2px;
	border-color: lightgray;
	min-height: 50px;
	margin-bottom: 5px;  
	padding: 2px;
}

.esconde{
	display:none;
}

.login-github{
	background-color: white;
	height: 200px;
	border-left: 1px solid gray;
}
.login-github-text{
	font-size: 1.7em;
	text-decoration: none !important;
	color: black;	
	display:block;
	margin-top: 55px;
}
.login-github-text:hover{
	text-decoration: none !important;
	color: black;	
}


.github-icon{
	width: 2.0em;
}
#duracao{
	width: 150px;
}

#clock-div{
	position: fixed;
	right: 50px;
	border: 2px solid black;
	padding: 10px;
	width: 80px;
	height: 40px;
}

.icone{
	vertical-align: top;
	display: inline-block;
	
}

.icone.glyphicon-ok{
	color: green;
}

.icone.glyphicon-remove{
	color: red;
}

.glyphicon-chevron-right{
	float: right;
}