html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom = footer height */
}

#logo-header{
	width: 192px;
	padding: 1.4em 20px;
	
}

#link-logout{
}

header{
	border-bottom: 2px solid black;
}

.container{
	padding: 20px;
}

footer{
	border-top: 2px solid black;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align:center;
}
